.fineArt {
    .container{

        min-height: 100vh;
        width: 100%;
        margin-top: 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        background-color: white;
        transition: all 1s ease-in-out;

        

        .heading {
            position: relative;
            margin:0 5px;
            font-size: clamp(5rem, 10vw, 14vw);
            color: white;
            mix-blend-mode: difference;
        }

        .image-wrapper {
            height: 100%;
            width: 100%;

            :not(:first-child){
                margin: 44px 0;
            }

            .image-container {

                height: 560px;
                width: 100%;

                .img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top center;
                    display: block;
                }
            }
        }
    }
}


@media only screen and (min-width : 768px) {
    .fineArt {
        .container{
    
            height: 100vh;
            margin-top: 0;
            flex-direction: row;
            
            
    
            .heading {
                position: absolute;
                transform-origin: top left;
                font-size: clamp(5rem, 8rem, 12rem);
                transform: rotate(-90deg) translateX(-50%);
                left: 0;
                top: 50%;
                font-weight: 500;
                text-align: right;
                margin:0;
                z-index: 1;
                text-transform: uppercase;

                .text {
                    background-color: black;
                    
                    width: 100vh;
                    line-height: 1;
                }


            }

            .scroll {
                position: absolute;
                bottom: 10%;
                left: 18%;
                font-size: clamp(2rem, 4rem, 8rem);
                line-height: 1;
                

            }
    
            .image-wrapper {
                height: 100vh;
                width: 100vw;
                overflow-y: hidden;
    
                :not(:first-child){
                    margin: 0;
                }

                
               

                div {
                    display: flex;
                    height: 100vh;
                    overflow-y: hidden;

                    :not(:first-child){
                        margin: 0 0;
                    }

                    &>:first-child {
                        margin-left: 400px;
                    }
                    
                    :last-child {
                        margin-right: 50px;
                    }
                    .image-container {
                        height: unset;
                        width: unset;
                        pointer-events: none;
                        &:last-child {
                            margin-right: 23.7rem;
                        }
                        .img {
                        width: auto ;
                        height: 100vh;
                        margin: 0;
                        margin-right: 2rem;
                        pointer-events: all;
                        
                        
                        cursor: pointer;

                }
                }
                }
    
                
            }
        }
    }
}




//  @media only screen and (min-width : 1024px) {
//     .fineArt {
//         .container{
//             .heading {
//                 font-size: 5.8rem;
//                 left: 0;
//             }
    
//             .image-wrapper {
//                 .image-container {
//                     margin: 0 3rem;
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width : 1400px) {
//     .fineArt {
//         .container{
//             .heading {
//                 font-size: 8.8rem;
//                 left: 0;
//             }
    
//             .image-wrapper {
//                 .image-container {
//                     margin: 0 4rem;
    
//                 }
//             }
//         }
//     }
// }

// @media only screen and (min-width : 1901px) {
//     .fineArt {
//         .container{
//             .heading {
//                 font-size: 10.8rem;
//                 left: 0;
//             }
    
//             .image-wrapper {
//                 .image-container {
//                     margin: 0 3rem;
    
//                 }
//             }
//         }
//     }
// }

