.dashboard-container {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem 2rem;

  .heading {
    margin-top: 18rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
  }

  .dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-self: center;
    padding-bottom: 2rem;

    .dashboard-card {
      flex: 1 1 250px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      transition: 1s all ease-in-out;
      height: 150px;
      width: 300px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .title {
        font-size: 1.5rem;
      }

      .links {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          text-decoration: underline;
          margin-top: 0.5rem;
          color: cornflowerblue;
        }
      }
    }
  }
}

@media only screen and (min-width: 598px) {
  .dashboard-container {
    .heading {
      margin-top: initial;
    }
    .dashboard-content {
      .dashboard-card {
        height: 200px;
        width: 200px;
      }
    }
  }
}
